input,
select {
  height: 40px !important;
  padding: 10px 20px !important;
  border: 2px solid rgb(131, 130, 130) !important;
  width: 100%;
  border-radius: 2px !important;
}

.ant-form-item {
  margin-bottom: 5px !important;
}

button {
  padding: 0px 25px;
  border-radius: 2px;
  height: 40px !important;
}
.primary-contained-btn {
  background-color: var(--primary);
  color: white;
}

.primary-outlined-btn {
  background-color: rgb(70, 216, 199);
  color: var(--primary);
  border: 2px solid var(--primary);
}

.cardmain{
  background-color: #4b973c;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
